{% extends "template.html" %}
{% block content %}
    <form method="post">
        <div class="container" style="background-color: white;margin-top: 10px;padding-top: 10px; ">
            <div class="row">
                <div class="col-md-12">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li><strong>{{ message }}</strong></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12"  align="right">
                    <input type="button" class="btn btn-warning btn-sm" style=""  value="Logout"  onclick="window.location.href='{{ url_for( 'logout') }}';"  name="Logout">
                </div>    
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class=" text-left" >Item Details</h1>
                </div>
                
            </div>
            {% for i in items %}
            <div class="row">
                <div class="col-md-3">
                    <label>Category</label>
                </div>
                <div  class="col-md-9" >
                    <label>{{i.catName}}</label>         
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>Title</label>
                </div>
                <div  class="col-md-9" >
                    <label>{{i.itemName}}</label>         
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>Description</label>
                </div>
                <div  class="col-md-9" >
                    <label>{{i.description}}</label>         
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>Created by</label>
                </div>
                <div  class="col-md-9" >
                    <label>{{i.userName}}</label>         
                </div>
            </div>
            <div class="row" style="margin-bottom:10px">
                
                {% if  Author %}
                <div class="col-md-3">
                    <a href="/ItemCatlog/{{i.id}}/EditItem/">Edit</a>
                    &nbsp;&nbsp;
                    <a href="/ItemCatlog/{{i.id}}/DeleteItem/">Delete</a>
                </div> 
                {% endif %}
                <div  class="col-md-9" >
                    <a href="/">Cancel</a>         
                </div>
            </div>
            {% endfor %}
            
        </div>
            
    </form>
        
{% endblock %}
