<html>
	<head>
		<link rel=stylesheet type=text/css href="{{ url_for('static',filename='styles.css')}}">
	</head>
    <body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        	<ul>
        	{% for message in messages %}
        		<li><strong>{{ message }}</strong></li>
        	{% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        <h1>Enter New Category</h1>
        <div>
            <label>Category Name : </label>
            <input type="text" id="category" />
            <input type="submit" value="Submit" />
        </div>

        

    </body>
</html>
