{% extends "template.html" %}
{% block content %}
<form method="post">
    <div class="container" style="background-color: white;margin-top: 10px; ">
        <div class="row">
            <div class="col-md-12">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li><strong>{{ message }}</strong></li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"  align="right">
                <input type="button" class="btn btn-warning btn-sm" style=""  value="Logout"  onclick="window.location.href='{{ url_for( 'logout') }}';"  name="Logout">
            </div>    
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1 class=" text-left" >Sign in</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>User Name</label>
            </div>
            <div  class="col-md-3" >
                 <input type="text" name = "txtName" value="{{ strname }}">       
            </div>
            <div  class="col-md-6 error" >
                 {{ msg }}      
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Password</label>
            </div>
            <div  class="col-md-3" >
                 <input type="password" name = "txtpassword" value="{{ strpassword }}">       
            </div>
            <div  class="col-md-6 error" >
                 {{ pwdmsg }}      
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Verify Password</label>
            </div>
            <div  class="col-md-3" >
                 <input type="password" name = "txtrepassword" value="{{ strvarpassword }}">       
            </div>
            <div  class="col-md-6 error" >
                 {{ varmsg }}      
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Email Id</label>
            </div>
            <div  class="col-md-3" >
                 <input type="text" name = "txtemail" value="{{ stremail }}">       
            </div>
            <div  class="col-md-6 error" >
                 {{ emailmsg }}      
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 error">
                {{ error }}
            </div>
        </div>
        <div class="row" style="margin-bottom:10px;"    >
            <div class="col-md-3">
                <input type="submit" class="btn btn-primary btn-sm" value="Submit">
            </div>
            <div class="col-md-9">
                <input type="Reset" class="btn btn-primary btn-sm" value="Reset">&nbsp;&nbsp;
                <input type="button"  class="btn btn-primary btn-sm" style=""  value="Cancel"  onclick="window.location.href='{{ url_for( 'showCategory') }}';"  name="Cancel">
            </div>

                    
            
        </div>
    </div>    
    
</form>
{% endblock %}


